$primary-color: #00bcd4;

body {
  font-family: "Calibri", sans-serif;
}

header {
  background: $primary-color;
  padding: 1em;
  h1 {
    color: white;
    margin: 0;
  }
}

.node {
  circle {
    fill: rgb(102, 101, 101);
  }
  text {
    font-size: 10px;
  }
}

.node--internal {
  circle {
    fill: #555;
  }
  text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

#map {
  position: relative;
  top: 5em;
}

#legend {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 1em;
  margin-top: 3em;
  /* position: absolute;
    margin: 2em;
    max-width: 40%;
    max-height: 10em; */

  img {
    max-width: 40vw;
    max-height: 12vh;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart {
  max-width: 50vw;
  max-height: 100vh;
}

.searchField {
  margin: 10em;
}
